<div class="d-flex flex-column ">
    <!-- Contenido principal de la página -->
    <section class="flex-fill">
      <!-- Tu contenido aquí -->
    </section>
  
    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-4 mt-auto">
      <div class="container">
        <p>&copy; 2025 Juan Luevano Ruiz - Desarrollador Backend .Net</p>
        <div>
          <a href="#" class="text-white mx-3" title="Facebook">
            <i class="fab fa-facebook"></i> Facebook
          </a>
          <a href="#" class="text-white mx-3" title="Twitter">
            <i class="fab fa-twitter"></i> Twitter
          </a>
          <a href="#" class="text-white mx-3" title="LinkedIn">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
        </div>
      </div>
    </footer>
  </div>
  